{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Hello django</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}">
</head>
<body>
    <h1>Hello Django!</h1>
    <button onclick="toggleMode()">TOGGLE DARK MODE</button>
    <script src="{% static 'JS/script.js' %}"></script>
</body>
</html>